{% extends 'layout.html' %}
{% block style %}
    <style>
        img {
            height: 200px;
            width: auto;
            margin-bottom: 20px;
            border-radius: 100%;
        }
    </style>
{% endblock %}

{% block content %}
{% include '_navbar.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="static/adhiyoga.png" alt="">
            <h3>Adhi Yoga Muris P.</h3>
        </div>
    </div>
</div>
{% endblock %}